Flask==2.3.2 # Самая актуальная текущая версия
gunicorn==20.1.0 # Сервер приложений

python-dotenv==1.0.0 # Для работы с переменными окружения

openai==0.28.1 # Универсальный клиент для YandexGPT от Яндекса

setuptools==68.1.2 # Добавили явно по моей рекомендации ранее
